:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color-active: #000000;
  --link-hover: #0c4800;
  --link-color: #212121;
  --text-color-disabled: #dadada;
  --sidebar-bg: #f0f0f0;
  --sidebar-active-bg: #868686;
  --sidebar-active-text: #ffffff;
  --sidebar-hover-bg: #a4a4a4;
  --sidebar-hover-text: #dadada;
  --card-border: #dadada;
  --badge-bg-grey: #dadada;
  --row-bg-light: #f8f8f8;
  --row-bg-dark: #ececec;
  --success-green: #0C9500;
  --fail-red: #E61313;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover);
}

.row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  gap: 16px;
  .col {
    flex: 1;
  }
}

.bg-grey {
  background-color: var(--row-bg-light);
}
.rounded {
  border: 1px solid var(--card-border);
  border-radius: 5px;
}